body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  color: #222222;
  background-color: #444444;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  color: #CC76CA;
  margin: 10px 100px;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 18px;
  color: #222222;
  text-align: center;
}


/*********************


        HEADER


**********************/


/****** HEADER *******/

#header {
  width: 960px;
  margin: auto;
  background-color: #FFFFFF;
}

#header .laRecreation {
  width: 100%;
  text-align: center;
  position: relative;
}

#header .laRecreation p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 10px 10px;
  display: inline-block;
  color: #CC76CA;
  text-align: center;
}

#header .tel_header p {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 5px;
  left: 40px;
  color: #CC76CA;
}

#header .tel_header img {
  width: 20px;
  position: absolute;
  top: 17px;
  left: 5px;
  color: #CC76CA;
}

#header .lang_header {
  position: absolute;
  top: 10px;
  right: 20px;
}

#header .laRecreation img {
  width: 20px;
  display: inline-block;
}

#header h1 a {
  color: #CC76CA;
}

.menuSite {
  background: #1E1F34;
}


/********* MENU ********/

nav {
  width: 940px;
  text-align: center;
  margin-right: 0;
}

nav ul {
  list-style: none;
  margin-bottom: 5px;
  margin-top: 15px;
  margin-left: -6px;
  ;
}

nav ul li {
  margin: 0;
  padding: 12px;
  display: inline-block;
}

.lineUnderLink:hover {
  color: #F28239;
  display: inline;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.lineUnderLink:focus {
  color: #F28239;
  display: inline;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.lineUnderLink::after {
  color: #FFFFFF;
  display: block;
  width: 0px;
  margin: 0 auto;
  margin-top: 10px;
  height: 1px;
  background: #CC76CA;
  content: " ";
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s
}

.lineUnderLink:hover::after {
  color: #FFFFFF;
  display: block;
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
  height: 1px;
  background: #CC76CA;
  content: " ";
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.menu {
  background-color: #1E1F34;
  color: white;
  height: 50px;
}

a {
  color: white;
}


/*******************


      HOME PAGE


**********************/

.bodyIndex {
  background: url('../images/bgIndex.png') no-repeat white;
  background-size: contain;
}


/***** SLIDER ******/

.slider {
  width: 90%;
  height: 80%;
  max-width: 600px;
  overflow: hidden;
  margin-top: 100px;
  margin-left: 20px;
}

@media screen and (min-width: 40em) {
  .slider {
    width: 90%;
    height: 80%;
    max-width: 600px;
    overflow: hidden;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 40em) {
  .slider {
    width: 90%;
    height: 80%;
    max-width: 600px;
    overflow: hidden;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
  -webkit-animation: 30s slidy infinite;
  animation: 30s slidy infinite;
}

.slider figure img {
  width: 20%;
  height: 30%;
  float: left;
}

@-webkit-keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}


/****** TEXTS ******/

.videoHome {
  margin-top: 10px;
  width: 520px;
  margin-left: auto;
  margin-right: auto;
}

.firstTextHome,
.secondTextHome {
  background-color: #FFFFFF;
  color: #222222;
  text-align: justify;
  padding: 35px 45px;
  border-radius: 2px;
}

.firstTextHome {
  margin-left: 20px;
  margin-top: 40px;
}

.firstTextHome h2 {
  font-size: 14px;
  text-align: center;
}

.secondTextHome {
  margin-top: 60px;
}

@media screen and (max-width: 40em) {
  .videoHome {
    margin-top: 180px;
  }
  .firstTextHome,
  .secondTextHome {
    background-color: #FFFFFF;
    color: #222222;
    text-align: justify;
    padding: 35px 45px;
    border-radius: 2px;
  }
  .firstTextHome {
    margin-left: 20px;
    margin-top: 40px;
  }
  .firstTextHome h2 {
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (max-width: 64em) {
  .videoHome {
    margin-top: 180px;
  }
  .firstTextHome,
  .secondTextHome {
    background-color: #FFFFFF;
    color: #222222;
    text-align: justify;
    padding: 35px 45px;
    border-radius: 2px;
  }
  .firstTextHome {
    margin-left: 20px;
    margin-top: 40px;
  }
  .firstTextHome h2 {
    font-size: 14px;
    text-align: center;
  }
}


/***** CONTACT *****/

.contactHome {
  border: #CC76CA solid 2px;
  border-radius: 2px;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 20px;
  padding: 30px;
  height: 400px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 64em) {
  .contactHome {
    border: #CC76CA solid 2px;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
    height: 400px;
    background-color: #FFFFFF;
  }
}

@media screen and (max-width: 64em) {
  .contactHome {
    border: #CC76CA solid 2px;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
    height: 400px;
    background-color: #FFFFFF;
  }
}

.contactHome h2 {
  padding-bottom: 20px;
  padding-top: 5px;
}

.mapHome {
  margin-top: 130px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.contactHome h4 {
  color: #CC76CA;
  font-style: italic;
}

.contactHome .contactPhoneHome {
  font-size: 16px;
}


/****** MAP *********/


/********************


        FOOTER


********************/

footer .row {
  background-color: #1E1F34;
  color: #CC76CA;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  height: 70px;
}

footer img {
  width: 40px;
  display: inline-block;
  margin: 5px;
}

.footerCss {
  height: 30px;
}

.leftFooter {
  margin-top: 10px;
}

.middleFooter,
.rightFooter {
  margin-top: 25px;
}


/*******************


    MENUS & VINE


**********************/
.bodyMenu{
  background: url(../images/parquet.jpg) no-repeat white;
  background-size: cover;
}

.menusAndVine {
  margin-left: 5px;
}
.menusAndVine img {
    width: 25%;
    max-width: 480px;
    height: 100%;
    float: left;
    position: relative;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

.menusAndVine p{
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
}

.menusAndVine .menu1 .textMenu1 {
  left: 10%;
}
.menusAndVine .menu2 .textMenu2 {
  left: 40%;
}
.menusAndVine .menu3 .textMenu3 {
  left: 70%;
}
.menusAndVine .menu4 .textMenu4 {
  left: 100%;
}


.bodyMenu footer{
  width: 960px;
  margin: auto;
}

/*******************


  KITCHEN & TAKEAWAY


**********************/

.bodyKitchen {
  background: url(../images/backgroundKitchen.jpg) no-repeat white;
  background-size: contain;
}

.firstPictureKitchen {
  width: 90%;
  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


}
.firstPictureKitchen img {
  border-radius: 2px;
}
.firstTextKitchen,
.secondTextKitchen {
  width: 90%;
  background-color: #FFFFFF;
  color: #222222;
  text-align: justify;
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.firstTextKitchen {
  border: #CC76CA solid 2px;
  border-radius: 2px;
  margin-top: 20px;
  padding: 15px;
}
.secondTextKitchen {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.spkImg1 {
  margin-left: 10%;
  width: 40%;
}
.spkImg2 {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 50%;
  width: 40%;
}
@media screen and (min-width: 40em) {
  .firstTextKitchen {
    border: #CC76CA solid 2px;
    border-radius: 2px;
    margin-top: 40px;
    padding: 15px;
  }
  
  .secondTextKitchen {
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
  }
  
  .spkImg1 {
    margin-top: 30px;
    margin-left: 15%;
    width: 30%;
  }
  
  .spkImg2 {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 55%;
    width: 30%;
  }
}
@media screen and (min-width: 64em) {
  .firstTextKitchen {
    border: #CC76CA solid 2px;
    border-radius: 2px;
    margin-top: 60px;
    padding: 15px;
  }
  
  .secondTextKitchen {
    margin-top: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }
  
  .spkImg1 {
    margin-top: 150px;
    margin-left: 10%;
    width: 40%;
  }
  
  .spkImg2 {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50%;
    width: 40%;
  }
}

/******************


    ENVIRONMENT


********************/
.bodyEnvironment {
  background: url('../images/bgEnvironment.png') no-repeat white;
  background-size: contain;
}
.firstPictureEnvironment {
  margin-top: 60px;
  width 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pictureEnvironment {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.firstTextEnvironment,
.secondTextEnvironment,
.thirdTextEnvironment {
  background-color: #FFFFFF;
  color: #222222;
  text-align: justify;
  padding: 20px 30px;
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.firstTextEnvironment {
  width: 90%;
  margin-top: 60px;
}
.firstTextEnvironment h2 {
  padding-bottom: 20px;
  text-align: center;
}
.secondPictureEnvironment {
  margin-top: 60px;
}
@media screen and (min-width: 40em) {
  .firstPictureEnvironment {
    margin-top: 90px;
    width 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .firstTextEnvironment,
  .secondTextEnvironment,
  .thirdTextEnvironment {
    background-color: #FFFFFF;
    color: #222222;
    text-align: justify;
    padding: 20px 30px;
    border-radius: 2px;
  }
  
  .firstTextEnvironment {
    width: 90%;
    margin-top: 90px;
  }
  
  .firstTextEnvironment h2 {
    padding-bottom: 20px;
    text-align: center;
  }
  
  .secondTextEnvironment {
    margin-top: 90px;
  }
  
  .secondPictureEnvironment {
    margin-top: 90px;
  }
}
@media screen and (max-width: 64em) {
  .firstPictureEnvironment {
    margin-top: 90px;
    width 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .firstTextEnvironment,
  .secondTextEnvironment,
  .thirdTextEnvironment {
    background-color: #FFFFFF;
    color: #222222;
    text-align: justify;
    padding: 20px 30px;
    border-radius: 2px;
  }
  
  .firstTextEnvironment {
    width: 90%;
    margin-top: 90px;
  }
  
  .firstTextEnvironment h2 {
    padding-bottom: 20px;
    text-align: center;
  }
  
  .secondTextEnvironment {
    margin-top: 90px;
  }
  
  .secondPictureEnvironment {
    margin-top: 90px;
  }
}

/***********************


  CONTACT & PARTNER


***********************/
.bodyContact {
  background: url(../images/backgroundContact.jpg) no-repeat white;
  background-size: contain;
}
.contactHome {
  border: #CC76CA solid 2px;
  border-radius: 2px;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 20px;
  padding: 30px;
  height: 400px;
  background-color: #FFFFFF;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.contactHome h2 {
  padding-bottom: 20px;
  padding-top: 5px;
}
.mapHome {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.googleMaps {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.contactHome .contactPhoneHome {
  font-size: 16px;
}
.firstTextContact {
  margin-top: 20px;
}
@media screen and (min-width: 40em) {
  .firstTextContact {
    margin-top: 50px;
  }
}
@media screen and (min-width: 64em) {
  .firstTextContact {
    margin-top: 100px;
  }
}